body {
    background-color: #f7fdf7;
}

.container-fluid {
    background-color: white;
    box-shadow: 0 0 10px rgb(62, 56, 56);
    height: 55px;
    width: 100%;
}

#title {
    padding-top: 0.6%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2b7a78;
    font-size: 3em;
    font-weight: bold;
}

#logo {
    margin-top: 0px;
    height: 60px;
    width: auto;
}

.sticky-top .row {
    margin-left: 0;
    margin-right: 0;
}

.sticky-top .col-auto {
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    margin-top: 13px;
    padding-top: 1.8%;
    color: #3aafa9;
    background-color: transparent;
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.cycling-headlines-wrapper {
    padding-top: 100px;
    padding-left: 150px;
    font-size: 2em;
    height: 70px;
    overflow: hidden;
    text-align: center;
}

.cycling-headline {
    position: absolute;
    width: 50%;
    opacity: 0;
    animation: cycle 12s infinite;
}

.cycling-headline:nth-child(1) {
    animation-delay: 0s;
}
.cycling-headline:nth-child(2) {
    animation-delay: 3s;
}
.cycling-headline:nth-child(3) {
    animation-delay: 6s;
}
.cycling-headline:nth-child(4) {
    animation-delay: 9s;
}

@keyframes cycle {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

.color-blue { color: #17252a; }
.color-red { color: #2b7a78; }
.color-yellow { color: #3aafa9; }
.color-green { color: #def2f1; }
.font-weight-bold { font-weight: bold; }
.hero-headline { font-size: 3em; }

.spacer {
    padding-right: 250px;
}

.cycling-images-wrapper {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    animation: cycleBackground 12s infinite;
}

.cycling-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    animation: cycleImages 12s infinite;
}

.cycling-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cycling-image:nth-child(1) {
    animation-delay: 0s;
}
.cycling-image:nth-child(2) {
    animation-delay: 3s;
}
.cycling-image:nth-child(3) {
    animation-delay: 6s;
}
.cycling-image:nth-child(4) {
    animation-delay: 9s;
}

@keyframes cycleImages {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes cycleBackground {
    0% { background-color: #def2f1; }
    20% { background-color: #2b7a78; }
    45% { background-color: #3aafa9; }
    70% { background-color: #17252a; }
    100% { background-color: #def2f1; }
}

#info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #17252a;
    font-size: 2.2em;
    font-weight: 100;
}

#reasonsTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2b7a78;
    font-size: 3em;
    font-weight: 500;
}

#myCarousel {
    height: 400px;
    width: 65%;
}

#img {
    width: 100%;
    height: 400px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

.carousel-caption h3.caption {
    font-weight: bolder;
    color: #feffff;
    -webkit-text-stroke: 0.5px #2b7a78;
    text-shadow: 2px 2px 4px #2b7a78;
}

.carousel-caption p.caption {
    font-weight: 650;
    color: #feffff;
    -webkit-text-stroke: 0.5px #2b7a78;
    text-shadow: 2px 2px 4px #2b7a78;
}

.row {
    margin: 0 -105px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.col-4 {
    width: 100%;
}

.card {
    background-color: #feffff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 300px;
    width: 300px;
}

img {
    width: 100%;
    height: 50%;
}

#cont-card {
    background-color: #def2f1;
    border-radius: 20%;
    height: fit-content;
    padding: 10px;
}

#cards-cont {
    padding-left: 20px;
}

#LawsTitle {
    padding-left: 33%;
    padding-top: 15px;
    font-size: 3em;
    font-weight: bold;
    color: #17252a;
    padding-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    color: #17252a;
    font-size: 2.5em;
    background-color: #bc96967c;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.accordion.active, .accordion:hover {
    background-color: #b5abab7c;
}

.panel {
    display: none;
    overflow: hidden;
    padding: 5px;
}

.panel p {
    padding: 20px;
    background-color: #f9f9f9;
    font-size: 2.2em;
    color: #17252a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    margin-top: 50px;
    margin-left: 400px;
    width: 500px;
    height: 500px;
    background: #17252a;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#chk {
    display: none;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #feffff;
    font-size: 3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 30px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#lsBtn {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #feffff;
    background: #2b7a78;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

#lsBtn:hover {
    background: #3aafa9;
}

.signup {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.signup label {
    color: #3aafa9;
    transform: scale(.6);
}

#chk:checked ~ .signup {
    transform: translateY(-500px);
}

#chk:checked ~ .signup label {
    transform: scale(1);
}

#chk:checked ~ .login label {
    transform: scale(.6);
}

#blog-intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #17252a;
    font-size: 2.3em;
    font-weight: 100;
}

.comment-section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin: 0 auto 20px auto;
    background: #def2f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-section h3 {
    margin-top: 1px;
    font-size: 2em;
}

.add-comment {
    margin-top: 20px;
}

#usernameBlog {
    margin-left: 2px;
    width: fit-content;
    background-color: white;
}

#get {
    padding-left: 115px;
}

.add-comment button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2b7a78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-comment button:hover {
    background-color: #3aafa9;
}
